@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="fullContainer banner" id="homeSection">
        <header>

            <div class="containers">
                <nav>
                    <ul>
                        <li>
                            <a href="/Index">Home</a>
                        </li>
                        <li>
                            <a href="/Customer">Customer</a>
                        </li>
                        <li>
                            <a href="/Product">Product</a>
                        </li>
                        <li>
                            <a href="Images">Image Upload</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <center>
            <div class="container">

                <h1>Welcome to the ABC Retail Store</h1>


                <br />
                <br />
                <br />
                <br />

            </div>

            <section class="projects">
                <div class="card">
                    <b><h2>Customer</h2></b>

                    </svg>
                    <div class="card__content">
                        <p class="card__title">Customer Details</p>
                        <p class="card__description">
                            View customer profile and add customer profile/details

                        </p>
                        <br />
                        <br />


                        <button type="button" onclick="location.href='/Customer'">

                            Customer Btn

                            </buttons>
                    </div>
                </div>
                <div class="card2">
                    <h2>Products</h2>
                    <path d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"></path>
                    </svg>
                    <div class="card__content">
                        <p class="card__title">Product</p>
                        <p class="card__description">
                            View customer profile and add customer profile/details
                        </p>

                        <br />
                        <br />


                        <button type="button" onclick="location.href='/Product'">

                            Product Btn

                            </buttons>
                    </div>
                </div>
                <div class="card3">
                    <h2>Upload</h2>
                    <path d="M20 5H4V19L13.2923 9.70649C13.6828 9.31595 14.3159 9.31591 14.7065 9.70641L20 15.0104V5ZM2 3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918C2.44405 21 2 20.5551 2 20.0066V3.9934ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"></path>
                    </svg>
                    <div class="card__content">
                        <p class="card__title">View All Details</p>
                        <p class="card__description">
                            Upload Images that is realted to the products
                        </p>

                        <br />
                        <br />


                        <button type="button" onclick="location.href='/Images'">

                            Images Btn

                            </buttons>
                    </div>
                </div>




        </center>

    </div>
</body>
</html>